*
    margin 0
    padding 0
    box-sizing border-box

.top-bar .navbar-nav li a
    font-size 16px

.top-bar .navbar-nav li a:hover
    color  rgb(110, 157, 208)
    font-size 16px

.header-banner
    height 500px
    background rgb(171, 172, 172) url(../img/grey-man.png) no-repeat right bottom

.logos .logos-list
    list-style-type none
    display flex
    justify-content space-around
    & > li:first-child
        line-height 40px
        text-transform uppercase
