* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.top-bar .navbar-nav li a {
  font-size: 16px;
}
.top-bar .navbar-nav li a:hover {
  color: #6e9dd0;
  font-size: 16px;
}
.header-banner {
  height: 400px;
  background: #abacac url("../img/grey-man.png") no-repeat right bottom;
  background-size: auto 380px;
}
.header-banner .jumbotron-text {
  text-align: center;
}
.header-banner h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 30px;
}
.header-banner p {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}
.logos .logos-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.logos .logos-list > li:first-child {
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 800;
}
