body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.top-bar .navbar-nav li a {
  font-size: 16px;
}
.top-bar .navbar-nav li a:hover {
  color: #6e9dd0;
  font-size: 16px;
}
.header-banner {
  height: 400px;
  background: #abacac url("../img/grey-man.png") no-repeat right bottom;
  background-size: auto 380px;
  margin-bottom: 15px;
}
.header-banner .jumbotron-text {
  text-align: center;
}
.header-banner .jumbotron-text h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 30px;
}
.header-banner .jumbotron-text p {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}
.header-banner .jumbotron-text .btn {
  padding: 10px 36px;
}
section.logos .logos-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
section.logos .logos-list > li:first-child {
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 800;
}
div.subscribe {
  background: #17b8e7;
  margin-top: 15px;
  font-size: 15px;
}
div.subscribe .subscribe-container {
  padding: 25px 0;
  color: #fff;
}
div.subscribe .subscribe-container h3 {
  margin: 0 0 15px 0;
  padding-left: 15px;
  font-size: 24px;
}
div.subscribe .subscribe-buttons a {
  display: inline-block;
}
div.subscribe .subscribe-buttons a:first-child {
  margin-right: 10px;
}
div.subscribe .subscribe-buttons img {
  max-width: 200px;
  height: 78px;
}
section.guests {
  padding: 30px 0 30px;
}
section.guests h2 {
  text-align: center;
  margin: 0;
}
section.guests h2 span {
  color: #17b8e7;
}
.guests-container {
  padding: 40px 20px;
}
.guests-container img {
  display: block;
  width: 150px;
  height: auto;
  margin: auto;
}
.guests-container .guest-text h2 {
  color: #17b8e7;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 1.25;
}
.guests-container .guest-text p {
  margin-top: 5px;
  font-size: 13px;
  line-height: 1.7;
}
